@media screen and (max-width:1600px){
header{
    flex-direction: column;
}
main{
    margin: 0 auto;
    flex-direction: column;
}
aside{
    margin-top: 30px;
}
.text > h1{
    font-size: 38px;
}
.text > p{
    font-size: 23px;
}
form{
    width: 80%;
}
article > img{
width: 360px;
    
}

#primeiranav{
    margin-top: 25px;
    flex-direction: column;
    font-size: 15px;
}
#segundanav{
    font-size: 15px;
}
#submit{
    width: 40%;
    font-size: 17px;
}
}